@import '../../../styles/base/variables';

.popular-travel {
  padding: 50px 0;

  @include breakpoint(lg) {
    padding: 25px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    margin-bottom: 50px;

    @include breakpoint(md) {
      margin-bottom: 25px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;

    @include breakpoint(lg) {
      font-size: 32px;
    }

    @include breakpoint(md) {
      font-size: 27px;
    }

    @include breakpoint(sm) {
      font-size: 23px;
    }
  }

  &__link {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f8f8f8;
    border: 1px solid #d8d8d8;
    color: #000000;
  }

  &__content {
    padding: 40px 0 10px;
  }
}
