@import '../../styles/base/variables';

.how-work {
    padding: 70px 0 100px;
    background-position: left 50%;
    background-repeat: no-repeat;
    background-size: 597px 475px;

    @include breakpoint(lg) {
        background-size: 0;
        padding: 25px 0 100px;
    }

    &__title {
        margin-bottom: 60px;
        font-size: 42px;
        font-weight: 700;

        @include breakpoint(lg) {
            font-size: 32px;
            margin-bottom: 40px;
        }
    }

    &__list {
        padding-left: 500px;
        counter-reset: section;
        counter-increment: my-counter;

        @include breakpoint(lg) {
            padding-left: 0;
        }
    }

    &__item {
        position: relative;
        padding-left: 90px;

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        &::after {
            content: "Шаг " counter(section);
            counter-increment: section;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            font-size: 13px;
            border-radius: 100px;
            background: #ffd600;
            padding: 5px 15px;

            @include breakpoint(sm) {
                padding: 5px 10px;
                font-size: 11px;
            }
        }

        @include breakpoint(sm) {
            padding-left: 65px;
        }
    }

    &__head {
        display: inline-block;
        margin-bottom: 14px;
        font-size: 18px;
    }

    &__text {
        font-size: 15px;
    }
}