@import '../../../styles/base/variables';

.terms-cooperation {
  padding: 50px 0;
  background-color: #f4f4f4;

  &__title {
    margin-bottom: 45px;
    font-size: 42px;
    font-weight: 700;

    @include breakpoint(lg) {
      font-size: 32px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    @include breakpoint(lg) {
      flex-direction: column;
    }
  }

  &__list {
    width: 100%;
    max-width: 650px;
    padding-left: 40px;
    counter-reset: section;
    counter-increment: my-counter;
  }

  &__list-item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &::after {
      content: counter(section) '';
      counter-increment: section;
      display: block;
      position: absolute;
      top: 0px;
      left: -40px;
      background-color: #ffd600;
      font-size: 15px;
      padding: 5px 11.5px;
      border-radius: 50%;
    }
  }

  &__head {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    line-height: 1.4;
  }

  &__descriptions {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 54px 103px 58px 51px;
    font-size: 18px;

    @include breakpoint(md) {
      padding: 50px;
    }

    @include breakpoint(sm) {
      padding: 30px;
    }
  }

  &__heading {
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 10px 18px;
    border-radius: 10px;
    background-color: #ffd600;
  }
}
